.circular--square {
    border-radius: 100%
  }

.navbar {
      background-color: #f3f3ff;
  }

 body {
  background-image: url("img/mano grande.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

 footer {
      background-color: #f3f3ff;
    }

 address {
      color: blue;
    }
  
    .card {
      margin-bottom: 20px;
    }