
<footer class="p-3 mt-5">
	<div class="row d-flex">

		<div class="col-sm-4 d-flex flex-column">
			<p><a href="https://www.facebook.com/DSWebSoftware" target="_blank">Facebook</a></p>
			<p><a href="https://www.instagram.com/desarrollo_soluciones_web" target="_blank">Instagram</a></p>
			<p><a href="https://wa.me/59899675402" target="_blank">WhatsApp</a></p>

			<address>
				<p>En donde estes, nosotr@s estamos :D</p>
				<p> (+598) 99 675 402</p>
				<p>solucionesdesarrolloweb@gmail.com</p>
			</address>
		</div>

		<div class="col-sm-4 d-flex flex-column align-items-center">
			 <a href="/" class="">
				<img src="img/logo_ultimo.png" class="img-fluid"style="display: block;margin-left: auto;margin-right: auto;" width="60%">
			 </a>
		</div>

		<div class="col-sm-4 d-flex flex-column align-items-end">
			<p><a href="/">Inicio</a></p>
			<p><a href="/quienes_somos">¿Quiénes somos?</a></p>
			<p><a href="/como_trabajamos">¿Cómo trabajamos?</a></p>
			<p><a href="/todo_lo_que_tengo_que_saber">Todo lo que tengo que saber</a></p>
			<p><a href="/armar_mi_proyecto">Armar mi proyecto</a></p>
		</div>

	</div>

	<div class="text-center">
		<p class="small">© 2022 Desarrollo Soluciones Web</p>
	</div>
</footer>