<footer class="border border-3">
		<div class="row">

			<div class="col-sm-4 d-flex flex-column">
				<p><a href="http://www.facebook.com">Facebook</a></p>
				<p><a href="http://www.instagram.com">Instagram</a></p>
				<p><a href="http://www.twitter.com">Twitter</a></p>
			</div>

			<div class="col-sm-4 d-flex flex-column align-items-center">
				<address>
					<p><span class="oi oi-home footer-address-icon"></span>Montevideo e interior del
						país.</p>
					<p><span class="oi oi-phone footer-address-icon"></span> 099 678 345</p>
					<p><span class="oi oi-envelope-closed footer-address-icon"></span>contacto@solucionesDesarrollo.com
					</p>
				</address>
			</div>

			<div class="col-sm-4 d-flex flex-column align-items-end">
				<p><a href="http://www.facebook.com">Sobre nosotrxs</a></p>
				<p><a href="http://www.instagram.com">Info de interés</a></p>
				<p><a href="http://www.twitter.com">Únete a nuestro equipo</a></p>
			</div>
			<div class="row">
				<div class="col-sm-4 "></div>
				<div class="col-sm-4 ">
					<img src="img/Diseño sin título.png" class="img-fluid">
				</div>
				<div class="col-sm-4 "></div>
			</div>
		</div>
	</footer>