
<footer class="border border-3 p-3">
	<div class="row d-flex">

		<div class="col-sm-4 d-flex flex-column">
			<p><a href="http://www.facebook.com">Facebook</a></p>
			<p><a href="http://www.instagram.com">Instagram</a></p>
			<p><a href="http://www.twitter.com">Twitter</a></p>

			<address>
				<p><span class="oi oi-home footer-address-icon"></span>En donde estes, nosotr@s estamos.
				</p>
				<p><span class="oi oi-phone footer-address-icon"></span> 099 675 402</p>
				<p><span class="oi oi-envelope-closed footer-address-icon"></span>contacto@SolucionesDesarrolloWeb.com
				</p>
			</address>
		</div>

		<div class="col-sm-4 d-flex flex-column align-items-center">
			 <a href="/">
				<img src="img/logo_ultimo.png" class="img-fluid" width="60%">
			 </a>
		</div>

		<div class="col-sm-4 d-flex flex-column align-items-end">
			<p></p>
			<p></p>
			<p></p>
			<p><a href="/quienes_somos">¿Quiénes somos?</a></p>
			<p><a href="/todo_lo_que_tengo_que_saber">Todo lo que tengo que saber</a></p>
			<p><a href="/armar_mi_proyecto">Armar mi proyecto</a></p>
		</div>

	</div>
</footer>