<nav class="navbar navbar-expand-lg fixed-top" style="color: #293762;">

        <a class="navbar-brand" href="/">
                <img id="myImg" class="" src="img/horizontal logo.png"
                        style="width:55%;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav" style="padding-left: 8%;">
                        <li class="nav-item px-3"></li>
                        <li class="nav-item" >
                                <a class="nav-link fs-5" style="color:#293762" href="/">INICIO</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link fs-5" style="color:#293762" href="/quienes_somos">¿QUIÉNES SOMOS?</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link fs-5" style="color:#293762" href="/como_trabajamos">¿CÓMO TRABAJAMOS?</a>
                        </li>

                        <li class="nav-item dropdown">
                                <a class="nav-link fs-5 dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                        data-toggle="dropdown" style="color: #293762">
                                        ¿CÓMO COMENZAR?
                                </a>
                                <div class="dropdown-menu">
                                        <a class="dropdown-item" href="/todo_lo_que_tengo_que_saber" style="color:#293762">
                                                Todo lo que tengo que saber
                                        </a>
                                        <a class="dropdown-item" style="color:#293762" href="/armar_mi_proyecto">
                                                Armar mi proyecto
                                        </a>
                                </div>
                        </li>


                        {{#if user}}

                                <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                                data-toggle="dropdown">
                                                MI PERFIL
                                        </a>
                                        <div class="dropdown-menu" style="right: 100px">
                                                <a class="dropdown-item" href="/perfil">
                                                        Perfil
                                                </a>
                                                <a class="dropdown-item" href="/armar_mi_proyecto">
                                                        Mis proyectos
                                                </a>
                                                <a class="dropdown-item" href="/cerrar_sesion">
                                                        Cerrar sesíon
                                                </a>
                                        </div>
                                </li>

                        {{else}}

                                <li class="nav-item opacity-100%">
                                        <a class="nav-link fs-5" style="color:#f3f3ff" href="/iniciar_sesion">INICIAR SESÍON</a>
                                </li>

                        {{/if}}

                        <li class="nav-item px-3"></li>


                </ul>
        </div>

</nav>
<div class="espaciador-del-navbar"></div>