<nav class="navbar navbar-expand-lg navbar-light fixed-top">


        <a class="navbar-brand" href="/">
                <img id="myImg" class="img-responsive" src="img/horizontal logo (2).png" style="width:60%;max-width:150px;min-width:150px">
        </a>
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                </button>
        



        <div class="collapse navbar-collapse justify-content-md-center" id="collapsibleNavbar">
                <ul class="navbar-nav nav-pills nav-fill">

                        <li class="nav-item ">
                                <a class="nav-link" href="/">INICIO</a>
                        </li>
                        <li class="nav-item ">
                                <a class="nav-link" href="/quienes_somos">¿QUIÉNES SOMOS?</a>
                        </li>
                        <li class="nav-item ">
                                <a class="nav-link" href="/como_trabajamos">¿CÓMO TRABAJAMOS?</a>
                        </li>

                        <li class="nav-item ">
                                <a class="nav-link" href="/todo_lo_que_tengo_que_saber">TODO LO QUE TENGO QUE SABER</a>
                        </li>
                        <li class="nav-item ">
                                <a class="nav-link" href="/armar_mi_proyecto">ARMAR MI PROYECTO</a>
                        </li>
                        <!--
                        <li class="nav-item  dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                        data-toggle="dropdown">
                                        ¿CÓMO COMENZAR?
                                </a>
                                <div class="dropdown-menu">
                                        <a class="dropdown-item" href="/todo_lo_que_tengo_que_saber">
                                                Todo lo que tengo que saber
                                        </a>
                                        <a class="dropdown-item" href="/armar_mi_proyecto">
                                                Armar mi proyecto
                                        </a>
                                </div>
                        </li>
-->

                        {{#if user}}

                        <li class="nav-item ">
                                <a class="nav-link" href="/perfil">PERFIL</a>
                        </li>
                        <li class="nav-item ">
                                <a class="nav-link" href="/cerrar_sesion">SALIR</a>
                        </li>

                        {{/if}}

                        <!--<li class="nav-item "></li>-->


                </ul>
        </div>

</nav>
<div class="espaciador-del-navbar"></div>