{{#if signupMessage}}
        <div class="container">
                <div class="alert alert-danger m-5" role="alert">
                        <strong> Ops! </strong> {{signupMessage}}
                </div>
        </div>
{{/if}}

{{#if signinMessage}}
        <div class="container"></div>
        <div class="alert alert-danger m-5" role="alert">
                <strong> Ops! </strong>{{signinMessage}}
        </div>
        </div>
{{/if}}