<div class="p-5">

        {{#if signupMessage}}
                <div class="alert alert-danger m-5" role="alert">
                        <strong> Ops! </strong> {{signupMessage}}
                </div>
        {{/if}}

        {{#if signinMessage}}
                <div class="alert alert-danger m-5" role="alert">
                        <strong> Ops! </strong>{{signinMessage}}
                </div>
        {{/if}}


</div>