{{> head_2}}
	
<body class="body">

<div class="container text-white">

<h1>api test</h1>
<hr>


<div class="section">

<button class="btn btn-primary" id="get_productos">GET Productos</button>
<div class="section">
        <ul id="resultado"></ul>
</div>

</div>


</div>

<script src="js/peticiones.js"></script>
</body>

</html>