{{> head_2}}

<body class="body">

        <div class="container text-white">

                <h1>api test</h1>
                <hr>

                <!-- BOTON GET-->
                <div class="section p-2">
                        <button class="btn btn-primary" id="get_productos">GET Productos</button>
                </div>

                <!-- BOTON GET por ID -->
                <div class="section p-2">
                        <button class="btn btn-primary" id="get_producto">GET Producto</button>
                </div>

                <!-- BOTON POST-->
                <div class="section p-2">
                        <button class="btn btn-primary" id="post_producto">POST Producto</button>
                </div>

                <!-- BOTON PUT-->
                <div class="section p-2">
                        <button class="btn btn-primary" id="put_producto">PUT Producto</button>
                </div>

                <!-- BOTON DELETE-->
                <div class="section p-2">
                        <button class="btn btn-primary" id="delete_producto">DELETE Producto</button>
                </div>



                <div class="section">
                        <ul id="resultado"></ul>
                </div>

        </div>

        <script src="js/peticiones.js"></script>
</body>

</html>