{{> head_2}}

<body class="body">

	<!--  NAVBAR -->
	{{> header_2}}
		
	<!--  JUMBOTRON CARROUSEL-->
	{{> jumbotron}}

    <!--   BREADCRUMB    -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-dark">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Blog</li>
        </ol>
    </nav>

    {{>footer}}
</body>

</html>