{{> head_2}}

<body class="body">

    <!--  NAVBAR -->
    {{> header_2}}

    <!--  JUMBOTRON CARROUSEL-->
    {{> jumbotron}}


    <div class="">
        <h1 class="titulo" style="opacity:95%; background-color:#293762; color: #f3f3ff">¿Cómo trabajamos?</h1>
    </div>

    <div class="container">
        <div id="myDIV" class="card" style="opacity:95%; background-color:#f3f3ff; color: #293762">
            <h1 class="card-header text-center font-monospace fs-2">
                <strong> ¡¡Trabajamos en equipo!!</strong>
            </h1>
            <div class="card-body text-center">
                <h3 class="card-title font-monospace fs-1 ">Estaremos en contacto constante.</h3><br>
                <h2 class="card-text ">Trabajando de forma colaborativa para lograr los mejores resultados.</h2><br>

            </div>
        </div><br>


        <div id="myDIV2" class="card " style="opacity:95%; background-color:#7dd8b7; color:#293762">
            <h1 class="card-header text-center text- font-monospace fs-2">
                Nos contactamos por la plataforma que prefieras,
            </h1>
            <div class="card-body text-center text-">
                <h3 class="card-title font-monospace fs-1">seremos fluidos en la comunicación</h3><br>
                <h2 class="card-text">para ir definiendo las partes del proceso.</h2><br>
            </div>
        </div><br>


        <div id="myDIV3" class="card" style="opacity:95%; background-color:#6b7a92; color:#7dd8b7">
            <h1 class="card-header text-center  font-monospace fs-2">
                Para concretar una entrevista y/o solicitar un presupuesto:
            </h1>
            <div class="card-body text-center ">
                <h3 class="card-title font-monospace fs-1">Primero completa los datos de tu proyecto </h3><br>
                <h2 class="card-text">y luego tus datos de contacto <br>en la seccion:</h2><br>
                <a href="/armar_mi_proyecto" class="btn btn-outline-light btn-lg" style="color:#7dd8b7"><strong>Armar mi
                        proyecto
                    </strong></a><br>
            </div>
        </div><br>


        <div id="myDIV3" class="card" style="opacity:95%; background-color:#293762; color:#7dd8b7">
            <h1 class="card-header text-center  font-monospace fs-1">Creamos contenido para que tengas toda la
                info que necesitás</h1>
            <div class="card-body text-center ">
                <h3 class="card-title font-monospace fs-2"> antes de definir que tipo de proyecto querés.
                </h3><br>
                <a href="/todo_lo_que_tengo_que_saber" class="btn btn-outline-light btn-lg" style="color: #7dd8b7;"><strong>Todo lo que tengo
                        que
                        saber
                    </strong></a><br>

            </div>
        </div><br><br>


        <div id="myDIV3" class="card" style="opacity:95%; background-color:#212529;">
            <h1 class="card-header text-center font-monospace fs-2" style="color:#6b7a92"><strong>Primero vamos a
                    conocernos y
                    luego
                    comenzaremos por</strong> </h1>
            <div class="card-body text-center text-warning">
                <h3 class="card-title font-monospace fs-1" style="color:#7dd8b7"> definir los objetivos,<br>
                    planificar metas
                </h3><br>
                <h2 class="card-text" style="color:#f3f3ff">y organizar los recursos y materiales necesarios.</h2><br>
            </div>
        </div><br><br>
        <div id="myDIV3" class="card" style="opacity:95%; background-color:#293762">
            <h1 class="card-header text-center font-monospace fs-2" style="color:#7dd8b7">
                Definiremos las instancias de evaluaciones en mutuo acuerdo
            </h1>
            <div class="card-body text-center">
                <h3 class="card-title font-monospace fs-1" style="color: #6b7a92;">y según lo requiera el proyecto</h3>
                <br>
                <h2 class="card-text" style="color:#f3f3ff">somos puntuales sin olvidar ser flexibles.</h2><br>
            </div>
        </div><br><br>
        <div id="myDIV3" class="card" style="opacity:95%; background-color:#6b7a92;">
            <h1 class="card-header text-center font-monospace fs-2" style="color:#7dd8b7;">
                De acuerdo a lo planificado tendremos reuniones de evaluación
            </h1>
            <div class="card-body text-center">
                <h3 class="card-title font-monospace fs-1" style="color:#293762;">donde iremos retocando el proyecto
                    para poder personalizarlo
                </h3><br>
                <h2 class="card-text" style="color:#212529;">y construir una identidad de marca digital.</h2><br>
            </div>
            <!-- style="color: #293762"-->
        </div><br><br>
        
        <div id="myDIV3" class="card" style="opacity:95%; background-color:#7dd8b7;">
            <h1 class="card-header text-center font-monospace fs-2" style="color:#212529">
                Trabajar en equipo es fundamental,
            </h1>
            <div class="card-body text-center">
                <h3 class="card-title font-monospace fs-1" style="color:#6b7a92">tú tienes la idea del proyecto y nosotr@s los conocimientos y las herramientas para realizarlo.</h3>
                <br>
                <h2 class="card-text" style="color:#f3f3ff">ninguno de nosotr@s es tan bueno, como tod@s nosotr@s junt@s </h2><br>
            </div>
        </div><br><br>
        <div id="myDIV3" class="card" style="opacity:95%; background-color:#f3f3ff;">
            <h1 class="card-header text-center font-monospace fs-2" style="color:#6b7a92">
                Por eso nosotr@s tambien trabajamos en equipo.
            </h1>
            <div class="card-body text-center">
                <h3 class="card-title font-monospace fs-1" style="color:#293762;">Dividimos las tareas,nos complementamos en diferentes áreas,</h3>
                <br>
                <h2 class="card-text" style="color:#212529;">y nos apoyamos para seguir creciendo y mejorando.</h2><br>
            </div>
        </div><br><br>
        <div id="myDIV3" class="card" style="opacity:95%; background-color:rgba(32, 164, 252, 0.274)">
            <h1 class="card-header text-center font-monospace fs-2" style="color:#212529">
                Los negocios son relaciones que se hacen entre personas,
            </h1>
            <div class="card-body text-center">
                <h3 class="card-title font-monospace fs-1" style="color:#212529">trabajamos para mejorar la comunicación, brindando soluciones</h3>
                <br>
                <h2 class="card-text" style="color:#212529;">priorizando y promoviendo el uso conciente de las herramientas web.</h2><br>
            </div>
        </div><br><br>
    </div>

    {{>footer}}

</body>

</html>