{{> head_2}}

<body class="body">

    <!--  NAVBAR -->
    {{> header_2}}

    <!--  JUMBOTRON CARROUSEL-->
    {{> jumbotron}}


    <div class="">
        <h1 class="titulo">¿Cómo trabajamos?</h1>
    </div>

    <div id="myDIV" class="card bg-dark" style="opacity:95%">
        <h1 class="card-header text-center text-light font-monospace fs-2">
            <strong> ¡¡Trabajamos en equipo!!</strong>
        </h1>
        <div class="card-body text-center text-light">
            <h3 class="card-title font-monospace fs-1">Estaremos en contacto constante.</h3><br>
            <h4 class="card-text ">Trabajando de forma colaborativa para lograr los mejores resultados.</h4><br>

        </div>
    </div><br>


    <div id="myDIV2" class="card bg-dark" style="opacity:95%">
        <h1 class="card-header text-center text-light font-monospace fs-2">
            Nos contactamos por la plataforma que prefieras,
        </h1>
        <div class="card-body text-center text-light">
            <h3 class="card-title font-monospace fs-1">seremos fluidos en la comunicación</h3><br>
            <h4 class="card-text">para ir definiendo las partes del proceso.</h4><br>
        </div>
    </div><br>


    <div id="myDIV3" class="card bg-dark" style="opacity:95%">
        <h1 class="card-header text-center text-light font-monospace fs-2">
            Para concretar una entrevista y/o solicitar un presupuesto:
        </h1>
        <div class="card-body text-center text-light">
            <h3 class="card-title font-monospace fs-1">Primero completa los datos de tu proyecto </h3><br>
            <h4 class="card-text">y luego tus datos de contacto <br>en la seccion:</h4><br>
            <a href="/armar_mi_proyecto" class="btn btn-outline-light btn-lg"><strong>Armar mi proyecto
                </strong></a><br>
        </div>
    </div><br>


    <div id="myDIV3" class="card bg-dark" style="opacity:95%">
        <h1 class="card-header text-center text-light font-monospace fs-1">Creamos contenido para que tengas toda la
            info que necesitas</h1>
        <div class="card-body text-center text-light">
            <h3 class="card-title font-monospace fs-2"> antes de definir que tipo de proyecto quieres
            </h3><br>
            <a href="/todo_lo_que_tengo_que_saber" class="btn btn-outline-light btn-lg"><strong>Todo lo que tengo que
                    saber
                </strong></a><br>

        </div>
    </div>
    <div id="myDIV3" class="card bg-light" style="opacity:95%">
        <h1 class="card-header text-center text-danger font-monospace fs-2"><strong>Primero vamos a conocernos y luego
            comenzaremos por</strong> </h1>
        <div class="card-body text-center text-warning">
            <h3 class="card-title font-monospace fs-1"> definir los objetivos,<br> planificar metas
            </h3><br>
            <h3 class="card-text text-success">y organizar los recursos y materiales necesarios.</h3><br>
        </div>
        <h1 class="card-header text-center text-danger font-monospace fs-2">
            De acuerdo a lo planificado tendremos reuniones de evaluación
        </h1>
        <div class="card-body text-center text-info">
            <h3 class="card-title font-monospace fs-1">donde iremos retocando el proyecto para poder personalizarlo
            </h3><br>
            <h4 class="card-text text-primary">y construir una identidad de marca digital.</h4><br>
        </div>
        <h1 class="card-header text-center text-success font-monospace fs-2">
           Definiremos las evaluaciones en mutuo acuerdo 
        </h1>
        <div class="card-body text-center text-success">
            <h3 class="card-title font-monospace fs-1">y según lo requiera el proyecto</h3><br>
             
        </div>
    </div><br>


    {{>footer}}

</body>

</html>