{{> head_2}}

<body class="body">

	<!--  NAVBAR -->
	{{> header_2}}
		
	<!--  JUMBOTRON CARROUSEL-->
	{{> jumbotron}}


    <div class="">
        <h1 class="titulo">¿Cómo trabajamos?</h1>
    </div>

    <div id="myDIV" class="card bg-dark" style="opacity:95%">
        <h1 class="card-header text-center text-light font-monospace fs-2">
            <strong> ¡¡Trabajamos en equipo!!</strong>
        </h1>
        <div class="card-body text-center text-light">
            <h3 class="card-title font-monospace fs-1">Estaremos en contacto constante.</h3><br>
            <h4 class="card-text ">Trabajando de forma cooperativa para lograr los mejores resultadoso.</h4><br>

        </div>
    </div><br>


    <div id="myDIV2" class="card bg-dark" style="opacity:95%" >
        <h1 class="card-header text-center text-light font-monospace fs-2">
            Nos contactamos por la plataforma que prefieras,
        </h1>
        <div class="card-body text-center text-light">
            <h3 class="card-title font-monospace fs-1">seremos fluidos en la comunicación</h3><br>
            <h4 class="card-text">para ir definiendo las partes del proceso.</h4><br>
        </div>
    </div><br>


    <div id="myDIV3" class="card bg-dark" style="opacity:95%">
        <h1 class="card-header text-center text-light font-monospace fs-2">
            Para concretar un entrevista,
        </h1>
        <div class="card-body text-center text-light">
            <h3 class="card-title font-monospace fs-1">Primero completa los datos de tu proyecto </h3><br>
            <h4 class="card-text">y luego tus datos de contacto <br>en la seccion:</h4><br>
            <a href="/quienes_somos" class="btn btn-outline-light btn-lg"><strong>Armar mi proyecto </strong></a><br>
        </div>
    </div><br>




    {{>footer}}

</body>

</html>