{{> head_2}}

<body class="body">

	<!-- HEADER -->
	{{> header_2}}

	<!--  JUMBOTRON CARROUSEL-->
	{{> jumbotron}}

	<!--mensajes tipo alert -->
	{{> mensajes}}



	<!-- TARJETAS DE INICIO  PREGUNTAS -->
	<div class="container">
		<div id="myDIV4" class="text-center mx-4">
			<img src="img/home.png" width="100%" class="mt-0" alt="Ofrecemos soluciones en desarrollo y diseño de páginas web">
		</div>

		<div id="" class="card card-verde">
			<h1 class="card-header text-center font-monospace fs-2" style="color:#293762">
				<svg xmlns="http://www.w3.org/2000/svg" width="26" height="62" fill="currentColor" class="bi bi-search"
					viewBox="0 0 16 16">
					<path
						d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
				</svg> Buscando en la web..?
			</h1>
			<div class="card-body text-center">
				<h3 class="card-title font-monospace fs-1" style="color:#293762">¿Cómo tener una web?</h3><br>
				<h4 class="card-text" style="color:#293762">Llegaste al destino indicado</h4><br>
				<a href="/quienes_somos" class="btn btn-outline-primary btn-outline-verde btn-lg"><strong>Soluciones en
						Desarrollo
						Web</strong></a><br>
			</div>
		</div><br>

		<div id="" class="card card-negro">
			<h1 class="card-header text-center  font-monospace fs-2">
				¿Cómo tener una web?
			</h1>
			<div class="card-body text-center">
				<h3 class="card-title font-monospace fs-1">¡Te guiamos para que tomes las mejores
					decisiones!</h3><br>
				<h4 class="card-text">Y conozcas este maravilloso mundo virtual</h4><br>
				<a href="/todo_lo_que_tengo_que_saber" class="btn btn-primary btn-negro btn-lg"><strong>Todo lo que
						tengo que saber</strong></a><br>
			</div>
		</div><br>

		<div id="" class="card card-verde">
			<h1 class="card-header text-center font-monospace fs-2">
				¿Qué tengo que hacer?
			</h1>
			<div class="card-body text-center ">
				<h3 class="card-title font-monospace fs-1">Te acompañamos en todo el proceso.</h3><br>
				<h4 class="card-text" style="color:#293762;">Nuestra misión es lograr el mejor resultado, trabajando
					junt@s,
					para quedar
					realmente
					conformes.</h4><br>
				<a href="/como_trabajamos" class="btn btn-outline-primary btn-outline-verde btn-lg"><strong>¿Cómo
						trabajamos?</strong></a><br>
			</div>
		</div><br>


		<div id="" class="card card-negro">
			<h1 class="card-header text-center font-monospace fs-2">
				¿Cómo comenzar?
			</h1>
			<div class="card-body text-center">
				<h3 class="card-title font-monospace fs-1">Para concretar una entrevista y/o solicitar un presupuesto completa los datos en
					la sección:</h3>
				<br>
				
				<a href="/armar_mi_proyecto" class="btn btn-primary btn-negro btn-lg"><strong>Armar mi
						proyecto</strong></a><br>
			</div>
		</div><br>

	</div>
	<!-- TARJETAS DE INICIO  PREGUNTAS -->

	<!-- FOOTER -->
	{{> footer}}

</body>

</html>