{{> head_2}}

<body class="body">
    <div>
      
        <!--  NAVBAR -->
        {{> header_2}}
        <!--  JUMBOTRON CARROUSEL-->
        {{> jumbotron}}

        <div class="">
            <h1 class="titulo" style="color: #f3f3ff;">¿Quiénes somos?</h1>
        </div>

        <!-- TARJETAS DE QUIENES SOMOS-->
        <div class="container">
            <div class="d-flex flex-wrap flex-row">
                <div class="card d-flex flex-column justify-content-between text-info bg-dark"
                    style="width: 10rem; opacity: 95%;">
                    <img src="img/20211224_001233-ANIMATION.gif" class="card-img-top" alt="Responsive">
                    <div class="card-body">
                        <h4 class="text-center">Somos Soluciones en Desarrollo Web con sede en La Floresta, Canelones,
                            Uruguay
                            abrazad@s por la naturaleza.</h4>
                    </div>
                </div>
                <div class=" card d-flex flex-column justify-content-between text-info bg-dark"
                    style="width: 10rem; opacity: 95%;">
                    <img src="img/aves.gif" class="card-img-top" alt="Responsive">
                    <div class="card-body">
                        <h5 class="text-center">Somos un equipo jóven, fresco y energético, con talento creativo y
                            pasión
                            por lo que hacemos, trabajamos de forma
                            cooperativa para lograr los mejores resultados.</h5>
                    </div>
                </div>

                <div class="card d-flex flex-column justify-content-between text-info bg-dark"
                    style="width: 10rem; opacity: 95%;">
                    <img src="img/mar.gif" class="card-img-top" alt="Responsive">
                    <div class="card-body">
                        <h4 class="text-center" ;>Creemos que la suma de nuestros conocimientos hace un
                            mejor resultado.</h4>
                    </div>
                </div>

                <div class="card d-flex flex-column justify-content-between text-info bg-dark "
                    style="width: 10rem; opacity: 95%;">
                    <img src="img/fuego.gif" class="card-img-top" alt="Responsive">
                    <div class="card-body">
                        <br>
                        <h2 class="text-center">La tecnología es mejor cuando reúne a la gente.</h2>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-wrap flex-row">

                <div class="card d-flex flex-column justify-content-between text-info bg-dark" style="opacity: 95%;">
                    <img src="img/ola.gif" class="card-img-top" alt="Responsive">
                    <div class="card-body">
                        <h3 class="text-center">El gran motor del cambio</h3><br><br>
                        <p class="text-center">Somos Soluciones en Desarrollo Web. Apasionados por nuestro trabajo
                            ofrecemos
                            soluciones
                            a la empresas y pymes, emprendedores y particulares para insertarse en la Web. Nuestra
                            cooperativa
                            surge de la necesidad de
                            trabajar de manera independiente a las grandes empresas, respondiendo de forma directa a
                            nuestros
                            clientes,
                            sin intermediarios. Logrando mejor comunicación para el proceso y satisfaccion por el
                            proyecto
                            final.</p><br>
                    </div>
                </div>
                <div class="card d-flex flex-column justify-content-between text-info bg-dark" style="opacity: 95%;">
                    <img src="img/magia.gif" class="card-img-top" alt="Responsive">
                    <div class="card-body">
                        <br>
                        <h3 class="text-center">Compartir es bueno, y con la tecnología digital, compartir es sencillo.
                        </h3>
                        <br>
                        <h4 class="text-center">Rompiendo las barreras del tiempo y la distancia.</h4><br>
                        <h5 class="text-center"> Acercándonos</h5>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 30px;">
                <div class=" col-sm-4"></div>
                <div class="card col-sm-4  text-info bg-dark">
                    <img src="img/luna.gif" class="card-img-top" alt="Responsive" style="margin-top: 20px;">
                    <div class="card-body">
                        <h3 class="text-center">Sigue siendo magia aunque sepas cómo se hace.</h3><br>
                        <h5 class="text-center">Tenemos que hackear a los estereptipos</h5><br>
                        <p class="text-center">¡Tenes la libertad de crear el perfil que quieras!</p>
                    </div>
                </div>
                <div class="col-sm-4"></div>
            </div><br>

        </div>

        <!-- PIE DE FOTOS  -->
        <div class="container p-3">
            <figure class="text-center" style="color: #fdfdfd; text-shadow: 4px 4px 5px rgb(0, 195, 255);">
                <blockquote class="blockquote">
                    <h4 class="text-center" style="text-shadow: 4px 4px 5px rgb(0, 195, 255);">Un buen diseño hace la vida mejor.</h4>
                </blockquote>
                <figcaption class="blockquote-footer" style="color: #fdfdfd;text-shadow: 4px 4px 5px rgb(0, 195, 255);">
                    @SolucionesDesarrolloWeb<br><cite title="Source Title">Imágenes de La Floresta, Año: 2021
                    </cite>
                </figcaption>
            </figure>
        </div><br>

        <div class="d-grid gap-2 col-6 mx-auto">
            <a href="/armar_mi_proyecto" type="button" class=" btn btn-dark btn-lg"><strong>Armar mi
                    proyecto</strong>
                </strong></a>
            <a href="/todo_lo_que_tengo_que_saber" type="button" class="btn btn-outline-light btn-lg"><strong>Todo lo
                    que
                    tengo que
                    saber</strong>
                </strong></a><br>
        </div>

        <!-- FOOTER  -->
        {{> footer}}
    </div>
</body>

</html>