{{> head_2}}

<body class="body">
    <!-- NAVBAR -->
    {{> header_2}}

    <!--  JUMBOTRON CARROUSEL-->


    <!-- TITULO -->
    <div>
        <h1 class="titulo" style="opacity:95%; background-color:#293762; color: #f3f3ff">Todo lo que tengo que saber
        </h1>
    </div>

    <!-- DIFERENTES PESTAÑAS -->
    <div class="container" style="opacity: 90%">
        <ul class="nav nav-tabs fs-5" id="mytabs" role="tablist">

            <li class="nav-item">
                <a class="nav-link active" id="uno-tab" data-toggle="tab" href="#uno" role="tab" aria-controls="uno"
                    aria-selected="true">¿Por donde comenzar?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tarjetas-tab" data-toggle="tab" href="#tarjetas" role="tab"
                    aria-controls="tarjetas" aria-selected="false">Diferentes páginas web</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="comentarios-tab" data-toggle="tab" href="#comentarios" role="tab"
                    aria-controls="comentarios" aria-selected="false">Diseño UI/UX</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="software-tab" data-toggle="tab" href="#software" role="tab"
                    aria-controls="software" aria-selected="false">Software a medida</a>
            </li>

        </ul><br>

        <!-- DIFERENTES PESTAÑAS -->
        <div class="tab-content " id="myTabContent">

            <!--  PRIMERA SECCION ¿POR DONDE COMENZAR? -->
            <!--  PRIMERA SECCION ¿POR DONDE COMENZAR? -->
            <!--  PRIMERA SECCION ¿POR DONDE COMENZAR? -->
            <!--  PRIMERA SECCION ¿POR DONDE COMENZAR? -->
            <!--  PRIMERA SECCION ¿POR DONDE COMENZAR? -->
            <div class="tab-pane fade show active" id="uno" role="tabpanel" aria-labelledby="uno-tab">

                <div class="accordion accordion-flush" id="accordionExample">

                    <!-- ESTRUCTURA DE UNA WEB -->
                    <!-- ESTRUCTURA DE UNA WEB -->
                    <!-- ESTRUCTURA DE UNA WEB -->
                    <!-- ESTRUCTURA DE UNA WEB -->
                    <div class="card-azul">

                        <!-- BOTON ESTRUCTURA DE UNA WEB-->
                        <div class="card-header" id="headingTwo">
                            <h5 class="text-center">
                                <button class="btn collapsed  btn-outline-light btn-lg" type="button"
                                    data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                    ESTRUCTURA DE UNA WEB
                                </button>
                            </h5>


                            <div id="collapseTwo" class="collapse" aria-labelledby="headingcollapseTwo"
                                data-parent="#accordionExample">

                                <!--ENCABEZADO Y MENU-->
                                <!--ENCABEZADO Y MENU-->
                                <!--ENCABEZADO Y MENU-->
                                <br>
                                <h4 class=" text-center" style="color:#7dd8b7">
                                    ENCABEZADO Y MENÚ
                                </h4><br>
                                <p class="text-center " style="color:#7dd8b7">El
                                    encabezado es la parte superior de la pagina web, normalmente es lo
                                    primero que ven los visitantes y se suele
                                    encontrar el logo o el nombre de la marca y el menú del sitio web.
                                    Se recomienda que al hacer click en el logo se diriga a la página de
                                    inicio ya que es una acción estandarizada de las páginas web.
                                </p>

                                <p class="text-center" style="color:#7dd8b7">El menú es un mapa del sitio
                                    que ayuda o guía a los usuarios para ubicarse y encontrar lo que
                                    buscan en la
                                    pagina web. Es un cuadro de búsqueda rápido y casi siempre se
                                    encuentran en
                                    los mismos lugares porque los usuarios de internet ya estan
                                    familiarizados con
                                    su uso.<br> Existen diferentes tipos de menú, los más comunes
                                    aparecen en el encabezado e incluyen las paginas mas importantes del
                                    sitio. <br> <strong>Incluir las categorías adecuadas en el menú dentro del
                                        encabezado es escencial para ayudar a los visitantes a encontrar lo
                                        que buscan.</strong> </p>

                                <br>
                                <hr><br>


                                <!-- IMAGENES-->
                                <!-- IMAGENES-->
                                <!-- IMAGENES-->

                                <h4 class="text-center " style="color:#f3f3ff">
                                    IMAGENES
                                </h4>

                                <p class="text-center " style="color:#f3f3ff;">Lo que
                                    realmente atrapa son las imágenes, son lo primero que ve un usuario
                                    después del encabezado. Las imágenes que elijas
                                    deben representar lo que hace tu negocio o marca, simplemente que
                                    representen tu escencia</p>

                                <p class="text-center" style="color:#f3f3ff">Se recomienda buscar un
                                    equilibrio y simplificar para
                                    no abusar de este recurso, demasiadas imagenes requieren más
                                    descarga y eso enlentece la navegación de la pagina web. Los
                                    usuarios modernos no tienen suficiente paciencia. </p>

                                <br>
                                <hr><br>


                                <!--CONTENIDO -->
                                <!--CONTENIDO -->
                                <!--CONTENIDO -->

                                <h4 class="card-header text-center " style="color:#7dd8b7">
                                    CONTENIDO
                                </h4>

                                <p class="" style="color:#7dd8b7">El
                                    contenido son las palabras escritas en tu sitio. Explican de que se
                                    trata, que tienes para ofrecer y porque es importante para los
                                    visitantes.<br>
                                    Tiene diferentes funciones, botones, parrafos, menú, títulos, desde
                                    lo más breve hasta largas explicaciones, tómate tu tiempo para
                                    planificar cuidadosamente el contenido de tu sitio. Siempre puedes
                                    actualizar tu contenido o mejorarlo.</p>

                                <p class="text-center" style="color:#7dd8b7">Algunos consejos: recuerda
                                    que tu usuario
                                    necesita que le resuelvas un problema, tus palabras deben ser más
                                    que intentar venderle. Necesitas conectarte con el visitante,
                                    intenta
                                    que tus palabras sean atractivas y útiles, transmíteles confianza
                                    sin intimidarlos, piensa cual sería el lenguaje adecuado para tu
                                    publico y lo último y no menos importante, no presumas lo bueno que
                                    eres, mejor consigue testimonios y comentarios de tus clientes.</p>
                                <br>
                                <hr><br>




                                <!--PAGINA DE INICIO -->
                                <!--PAGINA DE INICIO -->
                                <!--PAGINA DE INICIO -->

                                <h4 class="text-center " style="color:#f3f3ff">
                                    PAGINA DE INICIO
                                </h4>

                                <p class="text-center " style="color:#f3f3ff">La página
                                    de inicio es lo primero que ven los visitantes, entonces es lo que
                                    les generará la primera impresion. Debe comunicar tu mensaje
                                    principal al instante para mantenerlos interesados.
                                </p>

                                <p class="text-center" style="color:#f3f3ff">Se recomienda que se
                                    mantenga
                                    limpia y organizada, con una presentación que invite a explorar
                                    otras secciones. No es conveniente que sea muy extensa hacia abajo
                                    porque
                                    no se entendera donde termina, en su lugar organiza y agrupa los
                                    contenidos y con una breve reseña y un link los invitas a saber mas.
                                </p>
                                <br>
                                <hr><br>




                                <!-- FOOTER -->
                                <!-- FOOTER -->
                                <!-- FOOTER -->

                                <h4 class="text-center " style="color:#7dd8b7">
                                    PIE DE PAGINA / FOOTER
                                </h4>

                                <p class="text-center " style="color:#7dd8b7">Es la
                                    parte inferior de la pagina web, normalmente incluye un mapa del
                                    sitio donde puedes agregar las secciones que no están en el menú
                                    superior.</p>

                                <p class="text-center" style="color:#7dd8b7">Casi siempre se incluye
                                    información básica de contacto y redes sociales.
                                    Sirve como un medio de enlace entre el usuario y la marca ya que
                                    tiene los datos específicos de contacto.<br><br>
                                    - Identificación del autores<br> - Enlaces de interés<br> -
                                    Información sobre copyright<br>- Aviso sobre políticas de privacidad
                                    <br> -Datos de contacto<br>- Mapa del sitio
                                </p>
                                <br>
                            </div>



                        </div>

                    </div><br>


                    <!-- DOMINIO Y HOSTING/ CONECTAR TU WEB A LA WEB-->
                    <!-- DOMINIO Y HOSTING/ CONECTAR TU WEB A LA WEB-->
                    <!-- DOMINIO Y HOSTING/ CONECTAR TU WEB A LA WEB-->
                    <!-- DOMINIO Y HOSTING/ CONECTAR TU WEB A LA WEB-->
                    <!-- DOMINIO Y HOSTING/ CONECTAR TU WEB A LA WEB-->
                    <div class="card-verde  ">
                        <div class="card-header" id="headingThree">
                            <h5 class="text-center">
                                <button class="btn collapsed btn-outline-verde btn-lg" type="button"
                                    data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    DOMINIO Y HOSTING-CONECTAR TU WEB A LA WEB
                                </button>
                            </h5>
                        </div>


                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordionExample">
                            <div class="card-body">

                                <!-- DOMINIO -->
                                <!-- DOMINIO -->
                                <!-- DOMINIO -->

                                <h4 class="card-header text-center " style="color:#212529">
                                    DOMINIO
                                </h4>
                                <div class="card-body text-center">
                                    <p class=" " style="color:#212529">
                                        El dominio es lo que permite que te encuentren, es "www." y todo lo que
                                        sigue después, compuesto por el
                                        nombre
                                        que quieras darle a tu página más una extencion (.com .net .com.uy,
                                        etc).<br>Se
                                        recomienda que su nombre de dominio sea el mismo nombre o lo mas similar
                                        posible al de su
                                        negocio/emprendimiento físico. También intenta que sea breve, así será
                                        fácil de
                                        recordar y si puedes también que sea relevante y descriptivo.</p>
                                    <br>
                                    <p class="text-center" style="color:#212529">¿Demasiado pedir? Puedes
                                        chequear en la web "registro de dominios" y ver si el
                                        que
                                        tu quieres está disponible, si no lo está, puedes cambiar la extencion y
                                        volver a
                                        probar de nuevo (a
                                        veces no esta disponible .com pero si en .net). <br>
                                        Algunas extenciones nos dan indicaciones de ubicaciones o que tipo de
                                        pagina es,
                                        seguro conoces extenciones .gub .org .com o .com.ar debes elegir la que
                                        se adapte a tus objetivos.</p><br>

                                </div><br>


                                <!-- HOSTING -->
                                <!-- DOMINIO -->
                                <!-- DOMINIO -->

                                <h4 class="card-header text-center " style="color:#293762">
                                    HOSTING
                                </h4>
                                <div class="text-center">
                                    <p class=" " style="color:#293762">El
                                        hosting es un servicio de alojamiento en linea, es como pagar un
                                        alquiler pero en este caso el lugar que alquilás es un espacio en un
                                        servidor, en vez
                                        de
                                        tener tu tienda fisica,
                                        en vez de guardar "cosas" en una "habitación", la página web (todos los
                                        archivos que se necesitan para que funcione correctamente) se aloja (se
                                        guarda)
                                        en el
                                        servidor.</p>
                                    <br>
                                    <p class="text-center" style="color:#293762">Entonces cada vez que alquien
                                        busque tu nombre (dominio) en internet,
                                        el buscador
                                        se dirigirá a
                                        tu servidor para mostrar lo que tienes guardado para ofrecer. De esta
                                        manera tú
                                        puedes estar
                                        en linea 24hs.
                                    </p><br>

                                </div><br>


                            </div>
                        </div>
                    </div><br>



                    <!--DIFERENCIAS ENTRE DISEÑO WEB Y DESARROLLO WEB-->
                    <!--DIFERENCIAS ENTRE DISEÑO WEB Y DESARROLLO WEB-->
                    <!--DIFERENCIAS ENTRE DISEÑO WEB Y DESARROLLO WEB-->
                    <!--DIFERENCIAS ENTRE DISEÑO WEB Y DESARROLLO WEB-->
                    <div class="card-gris">
                        <div class="card-header text-light" id="headingFour">
                            <h5 class="text-center">
                                <button class="btn collapsed btn-outline-gris btn-lg" type="button"
                                    data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                                    aria-controls="collapseFour">
                                    DIFERENCIAS ENTRE DISEÑO WEB Y DESARROLLO WEB
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                            data-parent="#accordionExample">
                            <div class="text-light text-center ">
                                <h4 class="text-center"> ¿No son lo mismo?</h4>
                                <p>Pues no, popularmente se le llama Diseño web a la creación de páginas web, y la
                                    diferencia entre un término y el otro quedó un poco disfuminada al convertirse el
                                    diseño web en un
                                    término genérico, pero hay que tener en cuenta que
                                    para
                                    crear páginas web se necesita algo más que el diseño, y eso sería la programación,
                                    el
                                    Desarrollo web. Entonces uno no es nada sin el otro, y los dos son igual de
                                    importantes.<br><strong>Tanto el diseño como el desarrollo web son escenciales para
                                        conseguir un sitio web atractivo y efectivo.</strong>
                                </p><br>

                                <h4 class="text-center">Diseño Web</h4>
                                <p>El diseño web determina la apariencia y la percepción del sitio. Define el aspecto
                                    visual, la estética pero no sólo es la apariencia lo que importa, sino que también
                                    la
                                    navegación del sitio debe ser sencilla, cómoda y amigable, un diseñador web
                                    trabaja en definir y optimizar la experiencia de
                                    usuario para que el sitio web sea fácil de usar y se ajuste al propósito para el que
                                    fue creado.


                                </p><br>

                                <h4 class="text-center">Desarrollo Web</h4>
                                <p>Después que tenemos el diseño hay que hacerlo funcionar y ahí comienza el trabajo de
                                    el desarrollo web, debe transformar el diseño, o el concepto del diseñador, y
                                    construir
                                    un sitio web totalmente funcional. El desarrollo web hace posible que los visitantes
                                    de un sitio web puedan llevar acabo acciones en el. <br>
                                </p><br>

                            </div>
                        </div>
                    </div><br>



                    <!-- 5 RAZONES -->
                    <!-- 5 RAZONES -->
                    <!-- 5 RAZONES -->
                    <!-- 5 RAZONES -->
                    <div class="card-negro">
                        <div class="card-header" id="headingOne">
                            <h5 class="text-center">
                                <button class="btn collapsed btn-outline-light text-center btn-lg" type="button"
                                    data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                    aria-controls="collapseOne">
                                    5 RAZONES POR LAS QUE TU NEGOCIO DEBE TENER UNA PÁGINA WEB
                                </button>
                            </h5>
                        </div>
                        <!-- CARROUSEL 5 RAZONES-->
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body text-center">
                                <div class="text-center">
                                    <img src="img/1.png" width="80%">
                                </div>
                                <div class="text-center">
                                    <img src="img/1.1.gif" width="80%">
                                </div><br>

                                <div class="text-center">
                                    <img src="img/2.png" width="80%">
                                </div>
                                <div class="text-center">
                                    <img src="img/2.1.gif" width="80%">
                                </div><br>

                                <div class="text-center">
                                    <img src="img/3.png" width="80%">
                                </div>
                                <div class="text-center">
                                    <img src="img/3.2.gif" width="80%">
                                </div><br>
                                <div class="text-center">
                                    <img src="img/4.png" width="80%">
                                </div>
                                <div class="text-center">
                                    <img src="img/4.1.gif" width="80%">
                                </div><br>
                                <div class="text-center">
                                    <img src="img/5.png" width="80%">
                                </div>
                            </div>
                        </div>
                    </div><br>


                </div>
            </div>


            <!--SEGUNDA SECCION DIFERENTES PAGINAS WEB -->
            <!--SEGUNDA SECCION DIFERENTES PAGINAS WEB -->
            <!--SEGUNDA SECCION DIFERENTES PAGINAS WEB -->
            <!--SEGUNDA SECCION DIFERENTES PAGINAS WEB -->
            <!--SEGUNDA SECCION DIFERENTES PAGINAS WEB -->
            <div class="tab-pane fade opacity-95" id="tarjetas" role="tabpanel" aria-labelledby="tarjetas-tab">
                <div class="accordion" id="accordionExample">

                    <div class="card-azul">
                        <div class="card-header" id="headingOne">
                            <h5 class="text-center">
                                <button class="btn collapsed btn-outline-light btn-lg" type="button"
                                    data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    BLOG/MAGAZINE
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body text-center">
                                <h4> ¿Qué es un blog en la web?</h4>
                                <p></p>
                                Un Weblog, conocido como blog , es un sitio web personal donde uno puede
                                publicar
                                cualquier cosa que desee compartir con otros. Se trata de un sitio Web, que se
                                actualiza
                                periódicamente y que se recopila cronológicamente textos y artículos de uno o
                                varios
                                autores (el más reciente aparece primero).
                                </p>

                                <h4> ¿Qué es una revista digital o magazine?</h4>
                                <p></p>
                                Una revista digital es una publicación con características idénticas a una
                                revista
                                tradicional, pero en lugar de emplear el formato de papel se presenta como medio
                                de
                                difusión en formato electrónico.
                                </p>
                            </div>
                        </div>
                    </div><br>

                    <div class="card-verde">
                        <div class="card-header" id="headingTwo">
                            <h5 class="text-center">
                                <button class="btn collapsed  btn-outline-verde btn-lg" type="button"
                                    data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                    LANDING PAGES
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                            data-parent="#accordionExample">
                            <div class="card-body text-center">
                                <h4> Landing pages (páginas de destino o aterrizaje)</h4><br>
                                <p>son páginas web creadas con un objetivo de conversión en concreto. Son
                                    páginas
                                    creadas para conseguir la conversión de los clientes potenciales para los
                                    cuales
                                    se
                                    creó.</p>
                            </div>
                        </div>
                    </div><br>


                    <div class="card-gris">
                        <div class="card-header" id="headingThree">
                            <h5 class="text-center">
                                <button class="btn collapsed btn-outline-gris btn-lg" type="button"
                                    data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    E-COMMERCE / TIENDA ON-LINE
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordionExample">
                            <div class="card-body text-center">
                                <h4> ¿Qué es y para qué sirve el e-commerce?</h4>
                                <p>El E-commerce o comercio electrónico, es un concepto que empezó a utilizarse
                                    en
                                    los
                                    años
                                    90 para denominar todo proceso de compra o contratación de bienes y/o
                                    servicios
                                    a
                                    través
                                    de la red utilizando medios de pago como tarjetas de crédito o similares</p>
                            </div>
                        </div>
                    </div><br>

                    <div class="card-negro">
                        <div class="card-header" id="headingFour">
                            <h5 class="text-center">
                                <button class="btn collapsed btn-outline-negro btn-lg" type="button"
                                    data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                                    aria-controls="collapseFour">
                                    EMPRESARIALES / CORPORATIVAS
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                            data-parent="#accordionExample">
                            <div class="card-body text-center">
                                <h4> ¿Qué son las páginas corporativas?</h4>
                                <p>Los Portales Web Empresariales son sitios web avanzados que se crean
                                    utilizando
                                    plataformas denominadas Sistemas de Administración de Contenidos (ó CMS por
                                    sus
                                    siglas en inglés). Estas plataformas de software permiten manejar múltiples
                                    tipos de
                                    contenidos clasificados de acuerdo a sus funcionalidades y que se almacenan
                                    en
                                    bases
                                    de datos, lo que permite que crezcan de acuerdo a lo que se necesite.
                                </p>
                                <p> Los Portales Web Empresariales tienen una estructura básica que se
                                    complementa
                                    con
                                    módulos funcionales. Esto permite que los mismos sean modulares y
                                    escalables, es
                                    decir, que se configuren con los módulos que se requieran de acuerdo al
                                    perfil
                                    de
                                    cada portal logrando así especializarlos.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <!-- TERCER SECCION DISEÑO UX/UI -->
            <!-- TERCER SECCION DISEÑO UX/UI -->
            <!-- TERCER SECCION DISEÑO UX/UI -->
            <!-- TERCER SECCION DISEÑO UX/UI -->
            <!-- TERCER SECCION DISEÑO UX/UI -->

            <div class="tab-pane fade show" id="comentarios" role="tabpanel" aria-labelledby="comentarios-tab">
                <div class="accordion" id="accordionExample">

                    <div class="card-azul">
                        <div class="card-header" id="headingOne">
                            <h5 class="text-center">
                                <button class="btn collapsed btn-outline-light btn-lg" type="button"
                                    data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                    aria-controls="collapseOne">
                                    DISEÑO UX
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body text-center">
                                <h4> ¿Qué es?</h4>
                                <p>Este término hace referencia a la experiencia de usuario (User Experience),<br> lo
                                    que se vive cuando
                                    se navega, <br>cómo se siente una persona mientras usa cualquier producto o servicio
                                    digital. Y su cometido es mejorar esa experiencia de usuario, consiguiendo una mayor
                                    satisfacción resolviendo las necesidades concretas.
                                </p>



                            </div>
                        </div>
                    </div><br>

                    <div class="card-verde">
                        <div class="card-header" id="headingTwo">
                            <h5 class="text-center">
                                <button class="btn collapsed  btn-outline-verde btn-lg" type="button"
                                    data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                    DISEÑO UI
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                            data-parent="#accordionExample">
                            <div class="card-body text-center">
                                <h4> ¿Qué es?</h4><br>
                                <p>Este término hace referencia a la Interfaz de Usuario, que guia a los usuarios por la
                                    navegación y los llevará a tomar dichas acciones de manera natural. Es el diseño de
                                    todas
                                    las pantallas a través de las cuales se moverá un usuario, y los elementos
                                    visuales con características interactivas que faciliten ese movimiento.</p>
                            </div>
                        </div>
                    </div><br>


                    <div class="card-gris">
                        <div class="card-header" id="headingThree">
                            <h5 class="text-center">
                                <button class="btn collapsed btn-outline-gris btn-lg" type="button"
                                    data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    DISEÑO RESPONSIVE
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordionExample">
                            <div class="card-body text-center">
                                <h4> ¿Qué es?</h4>
                                <p>El diseño web responsive o diseño adaptativo es una técnica de el desarrollo web que
                                    permite la correcta visualización de páginas web en diferentes tamaños de
                                    dispositivos. Detecta el ancho de pantalla del navegador y adapta todos los
                                    elementos de la página al mismo. El diseño y el contenido se ajustan al tamaño de
                                    pantalla.</p>
                            </div>
                        </div>
                    </div><br>


                </div>
            </div><br>

            
            <!-- CUARTA SECCION SOFTWARE A MEDIDA -->
            <!-- CUARTA SECCION SOFTWARE A MEDIDA -->
            <!-- CUARTA SECCION SOFTWARE A MEDIDA -->
            <!-- CUARTA SECCION SOFTWARE A MEDIDA -->
            <div class="tab-pane fade show" id="software" role="tabpanel" aria-labelledby="software-tab">
                <div class="accordion" id="accordionExample">


                    <div class="card-verde">
                        <div class="card-header" id="headingTwo">
                            <h5 class="text-center">
                                <button class="btn collapsed  btn-outline-verde btn-lg" type="button"
                                    data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                    ¿Qué es el software a medida?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                            data-parent="#accordionExample">
                            <div class="card-body text-center">

                                <p>El software a medida es el dessarrollo de software personalizado, que se adapta a los
                                    procesos y a las necesidades concretas de una empresa u organización. </p>
                            </div>
                        </div>
                    </div><br>

                    <div class="card-azul">
                        <div class="card-header" id="headingOne">
                            <h5 class="text-center">
                                <button class="btn collapsed  btn-outline-azul btn-lg" type="button"
                                    data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                    aria-controls="collapseOne">
                                    ¿Qué es el Low Code?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body text-center">

                                <p>El Low Code es el dessarrollo de páginas web, que se adapta a los
                                    procesos y a las necesidades concretas de una empresa u organización. </p>
                            </div>
                        </div>
                    </div><br>

                    <div class="card-azul">
                        <div class="card-header" id="headingFour">
                            <h5 class="text-center">
                                <button class="btn collapsed btn-outline-light btn-lg" type="button"
                                    data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    Porque nos gusta el software libre
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingFour"
                            data-parent="#accordionExample">
                            <div class="card-body text-center">

                                <p>is too much</p>



                            </div>
                        </div>
                    </div><br>


                    <div class="card-gris">
                        <div class="card-header" id="headingThree">
                            <h5 class="text-center">
                                <button class="btn collapsed btn-outline-gris btn-lg" type="button"
                                    data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    Diferencias entre low code y software a medida
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordionExample">
                            <div class="card-body text-center">
                                <h4> ¿Cuál es el indicado para mi proyecto?</h4>
                                <p></p>
                            </div>
                        </div>
                    </div><br>

                </div>
            </div>


        </div>
    </div>
    <!-- FOOTER  -->
    {{> footer}}
</body>

</html>