/*======================================*/
/*========== variables de color ==========*/
/*======================================*/
:root {
  --celeste: #52ace7;
  --celeste-claro: #b6def8;

  --verde: #2cc08a;
  --verde-claro: #7dd8b7;

  --blanco: #f3f3ff;
  --negro: #212529;

  --azul: #293762;
  --gris: #6b7a92;
}

.circular--square {
    border-radius: 100%
  }
body {
  background-color: #f5f5ef;
}
.navbar {
      /*background-color: #f5f5efee;*/
      background-color: #f5f5efee;
      /*font-size:100%;*/
      color:var(--azul);
      z-index: 11;
    /*opacity: 90%;*/
    -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);

  }
  
.espaciador-del-navbar{
  /*z-index: 19;*/
  height: 101px;
  /*background-color:red;*/
  background-color:#f5f5ef;
}


footer {
      background-color: #f5f5ef;
      
    }

    footer p {
      color: var(--azul);
    }

    footer a{
      text-decoration:none;
      color: var(--azul);
    }

/*address {
      color: rgb(116, 101, 253);
    }*/

.card {
	flex: 1 200px;
	margin-top: 30px;
	margin-right: 30px;
	margin-left: 30px;
  opacity:95%; 
	border: 2px solid #d5dadf;
  border-radius: 5px;
	box-shadow:  0px 0px 2px #ebf0f5;
	animation: mymove 16s infinite;
}

/*ANIMACION DE IMAGENES CORTADAS*/
#slider-k {
      background: #fff;
      width: 300px;
      height: 150px;
      margin: 50px auto;
      overflow: hidden;
      border-radius: .5rem;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
     }
#slider-k .frame-k {
      box-sizing: border-box;
      width: 25%;
      height: 100%;
      float: left;
      overflow: hidden;
      border-left: 10px solid rgb(0, 0, 0);
      
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
      transform: skewX(-20deg);
      transition: width 0.8s ease-in-out;
     }
#slider-k:hover div {width: 108px;cursor: w-resize;}
#slider-k:hover div:hover {
     width: 392px;}
     
.frame-k img {
     margin-left: -55px;
     transform: skewX(20deg);
     
     }
     
#slider-k > div:first-child {margin-left: -63px;}
#slider-k > div:last-child {margin-right: -63px;}
/*ANIMACION DE IMAGENES CORTADAS*/


.titulo {
      font-size: 240%;
      opacity: 90%;
      text-align: center;
      text-shadow: 0px 1px 2px #00c3ff;
      font-family: monospace;
    
    }

.tarjeta{
      background-color: var(--negro);
      opacity: 90%;
      color: var(--blanco);
    }


    /* ANIMACION DE BORDE DE TARJETAS*/
		#myDIV,
		#myDIV2,
		#myDIV3,
		#myDIV4 {

			animation: mymove 16s infinite;
			border: 4px solid #ebf0f5;
		}



@keyframes mymove {
			50% {
				box-shadow:  5px 5px 15px #011f3d;
				border-color: #011f3d;
			}

		}
    /* ANIMACION DE BORDE DE TARJETAS*/ 
		
/*Mensajes de confirmacion que se desvanecen*/	 
.mensaje_informativo{
	position: fixed;
	top: 5em;
	right: 0em;
	z-index: 22;
	opacity: 95%;
}	

.quienes {
  opacity: 95%; 
  background-color:#f3f3ef; 
  color: var(--azul);
}

.armar {
  background-image: url("../img/armar.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}



/*=================================*/
/*======= color celeste ======*/
/*=================================*/
.card-celeste{
  color:var(--negro);
  /*background-color:#20a4fc46; */
  background-color:var(--celeste-claro); 
}

.btn-celeste {
  color: var(--blanco);
  background-color: var(--celeste);
  border-color: var(--gris);
}
.btn-celeste:hover {
  color: var(--negro);
  background-color: var(--celeste-claro);
  border-color: var(--azul);
}
.btn-outline-celeste {
  color: var(--negro);
  background-color: var(--celeste-claro);
  border-color: var(--gris);
}
.btn-outline-celeste:hover {
  color: var(--blanco);
  background-color: var(--celeste);
  border-color: #3877a1;
}

/*===============================*/
/*======= color verde ======*/
/*===============================*/
.card-verde{
  color:var(--azul);
  background-color:var(--verde-claro); 
}

.btn-verde {
  color: var(--blanco);
  background-color: var(--azul);
  /*border: 2px solid var(--verde-claro);*/
  border-color: var(--verde-claro);
}
.btn-verde:hover {
  color: var(--azul);
  background-color: var(--verde-claro);
  border-color: #2e6d56;
}
.btn-outline-verde {
  color: var(--azul);
  background-color: var(--verde-claro);
  /*border: 2px solid var(--gris);*/
  border-color: #2e6d56;
}
.btn-outline-verde:hover {
  color: var(--blanco);
  background-color: var(--verde);
  border-color: #157e57;
}


/*===============================*/
/*======= color blanco ======*/
/*===============================*/
.card-blanco{
  color:var(--gris);
  background-color:var(--blanco); 
}

.btn-blanco {
  color: var(--blanco);
  background-color: var(--gris);
  /*border: 2px solid var(--verde-claro);*/
  border-color: #8694aa;
}
.btn-blanco:hover {
  color: var(--azul);
  background-color: var(--blanco);
  border-color: var(--gris);
}
.btn-outline-blanco {
  color: var(--azul);
  background-color: var(--blanco);
  /*border: 2px solid var(--gris);*/
  border-color: var(--gris);
}
.btn-outline-blanco:hover {
  color: var(--blanco);
  background-color: var(--gris);
  border-color: #8694aa;
}


/*===============================*/
/*======= color negro ======*/
/*===============================*/
.card-negro{
  color:var(--verde-claro);
  background-color:var(--negro); 
}

.btn-negro {
  color: var(--verde-claro);
  background-color: var(--negro);
  border-color: var(--verde-claro);
}
.btn-negro:hover {
  color: var(--azul);
  background-color: var(--blanco);
  border-color: #5267a7;
}
.btn-outline-negro {
  color: var(--verde-claro);
  background-color: var(--negro);
  border-color: var(--verde-claro);
}
.btn-outline-negro:hover {
  color: var(--negro);
  background-color: var(--verde-claro);
  border-color: var(--negro);
}


/*===============================*/
/*======= color azul ======*/
/*===============================*/
.card-azul{
  color:var(--verde-claro);
  background-color:var(--azul); 
}

.btn-azul {
  color: var(--verde-claro);
  background-color: var(--azul);
  border-color: var(--verde-claro);
}
.btn-azul:hover {
  color: var(--azul);
  background-color: var(--blanco);
  border-color: var(--azul);
}
.btn-outline-azul {
  color: var(--azul);
  background-color: var(--blanco);
  border-color: #5673ca;
}
.btn-outline-azul:hover {
  color: var(--verde-claro);
  background-color: var(--azul);
  border-color: var(--verde-claro);
}


/*===============================*/
/*======= color gris ======*/
/*===============================*/
.card-gris{
  color:var(--blanco);
  background-color:var(--gris); 
}

.btn-gris {
  color: var(--blanco);
  background-color: var(--gris);
  border-color: var(--blanco);
}
.btn-gris:hover {
  color: var(--azul);
  background-color: var(--blanco);
  border-color: var(--gris);
}
.btn-outline-gris {
  color: var(--negro);
  background-color: var(--gris);
  border-color: var(--negro);
}
.btn-outline-gris:hover {
  color: var(--blanco);
  background-color: var(--negro);
  border-color: var(--negro);
}

