.circular--square {
    border-radius: 100%
  }
body {
  background-color: #f5f5ef;
}
.navbar {
      /*background-color: #f5f5efee;*/
      background-color: #f5f5ef;
      /*font-size:100%;*/
      color:#293762;
      z-index: 11;
    /*opacity: 90%;*/
    -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);

  }
  
.espaciador-del-navbar{
  /*z-index: 19;*/
  height: 101px;
  /*background-color:red;*/
  background-color:#f5f5ef;
}

.breadcrumb {
  background-color:rgb(227, 255, 224, 0); color:rgba(174, 235, 168,) ;
}

footer {
      background-color: #f5f5ef;
      
    }

    footer p {
      color: #293762;
    }

    footer a{
      text-decoration:none;
      color: #293762;
    }

/*address {
      color: rgb(116, 101, 253);
    }*/

.card {
	flex: 1 200px;
	margin-top: 30px;
	margin-right: 30px;
	margin-left: 30px;
}

/*ANIMACION DE IMAGENES CORTADAS*/
#slider-k {
      background: #fff;
      width: 300px;
      height: 150px;
      margin: 50px auto;
      overflow: hidden;
      border-radius: .5rem;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
     }
#slider-k .frame-k {
      box-sizing: border-box;
      width: 25%;
      height: 100%;
      float: left;
      overflow: hidden;
      border-left: 10px solid rgb(0, 0, 0);
      
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
      transform: skewX(-20deg);
      transition: width 0.8s ease-in-out;
     }
#slider-k:hover div {width: 108px;cursor: w-resize;}
#slider-k:hover div:hover {
     width: 392px;}
     
.frame-k img {
     margin-left: -55px;
     transform: skewX(20deg);
     
     }
     
#slider-k > div:first-child {margin-left: -63px;}
#slider-k > div:last-child {margin-right: -63px;}
/*ANIMACION DE IMAGENES CORTADAS*/


.titulo {
      font-size: 240%;
      background-color: #293762;
      opacity: 90%;
      text-align: center;
      text-shadow: 1px 1px 4px rgb(0, 195, 255);
      color: #f3f3ef;
      font-family: monospace;
      margin-bottom: 20px;
      
    }

.tarjeta{
      background-color: #212529;
      opacity: 90%;
      color: #f3f3ff;
    }


    /* ANIMACION DE BORDE DE TARJETAS*/
		#myDIV,
		#myDIV2,
		#myDIV3,
		#myDIV4 {

			background-color: rgb(34, 32, 32);
			color: white;
			animation: mymove 16s infinite;
			border: 4px solid #ebf0f5;
		}

.card {

			animation: mymove 16s infinite;
			border: 4px solid #ebf0f5;
		}

@keyframes mymove {
			50% {
				box-shadow:  10px 10px 10px #011f3d;

			}

			50% {
				border-color: #011f3d;
			}
		}
    /* ANIMACION DE BORDE DE TARJETAS*/ 
		
/*Mensajes de confirmacion que se desvanecen*/	 
.mensaje_informativo{
	position: fixed;
	top: 5em;
	right: 0em;
	z-index: 22;
	opacity: 95%;
}	

