.circular--square {
    border-radius: 100%
  }

.navbar {
      background-color: #f5f5ef;
      font-size:100%;
      color: #f5f5ef;
      
  }

  .jumbotron {
    
    background-image: url("../img/fondo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    opacity: 75%;
  }

 body {
  background-image: url("../img/fondo.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  
   
}

 footer {
      background-color: #f5f5ef;
    }

 address {
      color: rgb(116, 101, 253);
    }

    .card {
      flex: 1 200px;
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 30px;
    }
  
    #slider-k {
      background: #fff;
      width: 300px;
      height: 150px;
      margin: 50px auto;
      overflow: hidden;
      border-radius: .5rem;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
     }
     #slider-k .frame-k {
      box-sizing: border-box;
      width: 25%;
      height: 100%;
      float: left;
      overflow: hidden;
      border-left: 10px solid #fff;
      
      box-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
      transform: skewX(-20deg);
      transition: width 1.2s ease-in-out;
     }
     #slider-k:hover div {width: 108px;cursor: w-resize;}
     #slider-k:hover div:hover {
     width: 392px;}
     
     .frame-k img {
     margin-left: -55px;
     transform: skewX(20deg);
     
     }
     
     #slider-k > div:first-child {margin-left: -63px;}
     #slider-k > div:last-child {margin-right: -63px;}

    .titulo {
      font-size: 340%;
      background-color: #212529;
      opacity: 80%;
      text-align: center;
      color: #f3f3ff;
      font-family: sans-serif;
    }

    
		#myDIV,
		#myDIV2,
		#myDIV3,
		#myDIV4 {

			background-color: coral;
			color: white;
			animation: mymove 9s infinite;
			border: 10px solid #212529;
		}

		@keyframes mymove {
			50% {
				box-shadow:  10px 10px 10px #011f3d;

			}

			50% {
				border-color: #011f3d;
			}
		}
     
		
	 
	